{% extends "base.html" %}

{% block content %}
<section>
    <h2>Talks</h2>
	<div>
    I'll get around to styling this page soon, thought it was more important 
    to get the content out there first.
    </div>
    <div style="margin-top:20px;">
        <ul>
            <li><a href="/talks/djangular/">Djangular</a> (<a href="https://github.com/TrackMaven/Djangular/">Github</a>|<a href="https://www.youtube.com/watch?v=GVDjoTt3r8A">Video</a>)</li>
            <li><a href="/talks/deployment_at_tm/">Deployment at TrackMaven</a></li>
        </ul>
	</div>
</section>

{% endblock %}
